<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>我的空间</title>
    <script type="text/javascript" th:src="@{/bootstrap/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap/font-awesome/css/font-awesome.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/index/iconfont.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/index/content.css}" type="text/css"/>
    <style>

    </style>
</head>
<body>
<div id="container">
    <!--diary list-->
    <div class="diary">
        <div class="diary_item item_title">
            <span class="title" href="javascript:void(0);">写在第一篇</span>
        </div>
        <div class="diary_item item_date_view">
            <span class="date_view">
                <i class="fa fa-calendar-o"></i>
                <span class="view_title">发表于:</span>
                <span class="c_date">2020-05-20</span>
            </span>
            <span class="date_view">
                <i class="fa fa-calendar-check-o"></i>
                <span class="view_title">更新于:</span>
                <span class="u_date">2020-05-20</span>
            </span>
            <span class="date_view">
                <i class="fa fa-eye"></i>
                <span class="view_title">阅读次数:</span>
                <span class="v_count">50</span>
            </span>
        </div>
        <div class="diary_item item_more_btn">
            <span class="show_more">查看更多 »</span>
        </div>
    </div>
    <!--diary list-->
    <div class="diary">
        <div class="diary_item item_title">
            <span class="title" href="javascript:void(0);">写在第一篇</span>
        </div>
        <div class="diary_item item_date_view">
            <span class="date_view">
                <i class="fa fa-calendar-o"></i>
                <span class="view_title">发表于:</span>
                <span class="c_date">2020-05-20</span>
            </span>
            <span class="date_view">
                <i class="fa fa-calendar-check-o"></i>
                <span class="view_title">更新于:</span>
                <span class="u_date">2020-05-20</span>
            </span>
            <span class="date_view">
                <i class="fa fa-eye"></i>
                <span class="view_title">阅读次数:</span>
                <span class="v_count">50</span>
            </span>
        </div>
        <div class="diary_item item_more_btn">
            <span class="show_more">查看更多 »</span>
        </div>
    </div>
    <!--diary list-->
    <div class="diary">
        <div class="diary_item item_title">
            <span class="title" href="javascript:void(0);">写在第一篇</span>
        </div>
        <div class="diary_item item_date_view">
            <span class="date_view">
                <i class="fa fa-calendar-o"></i>
                <span class="view_title">发表于:</span>
                <span class="c_date">2020-05-20</span>
            </span>
            <span class="date_view">
                <i class="fa fa-calendar-check-o"></i>
                <span class="view_title">更新于:</span>
                <span class="u_date">2020-05-20</span>
            </span>
            <span class="date_view">
                <i class="fa fa-eye"></i>
                <span class="view_title">阅读次数:</span>
                <span class="v_count">50</span>
            </span>
        </div>
        <div class="diary_item item_more_btn">
            <span class="show_more">查看更多 »</span>
        </div>
    </div>
    <!--diary list-->
    <div class="diary">
        <div class="diary_item item_title">
            <span class="title" href="javascript:void(0);">写在第一篇</span>
        </div>
        <div class="diary_item item_date_view">
            <span class="date_view">
                <i class="fa fa-calendar-o"></i>
                <span class="view_title">发表于:</span>
                <span class="c_date">2020-05-20</span>
            </span>
            <span class="date_view">
                <i class="fa fa-calendar-check-o"></i>
                <span class="view_title">更新于:</span>
                <span class="u_date">2020-05-20</span>
            </span>
            <span class="date_view">
                <i class="fa fa-eye"></i>
                <span class="view_title">阅读次数:</span>
                <span class="v_count">50</span>
            </span>
        </div>
        <div class="diary_item item_more_btn">
            <span class="show_more">查看更多 »</span>
        </div>
    </div>
    <!--diary list-->
    <div class="diary">
        <div class="diary_item item_title">
            <span class="title" href="javascript:void(0);">写在第一篇</span>
        </div>
        <div class="diary_item item_date_view">
            <span class="date_view">
                <i class="fa fa-calendar-o"></i>
                <span class="view_title">发表于:</span>
                <span class="c_date">2020-05-20</span>
            </span>
            <span class="date_view">
                <i class="fa fa-calendar-check-o"></i>
                <span class="view_title">更新于:</span>
                <span class="u_date">2020-05-20</span>
            </span>
            <span class="date_view">
                <i class="fa fa-eye"></i>
                <span class="view_title">阅读次数:</span>
                <span class="v_count">50</span>
            </span>
        </div>
        <div class="diary_item item_more_btn">
            <span class="show_more">查看更多 »</span>
        </div>
    </div>
</div>
</body>
</html>